/* This file is for your main application css. */

@import "../node_modules/nprogress/nprogress.css";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "./custom.css";

@import "./phoenix.css";

@import "./live_view.css";

@import "tailwindcss/utilities";




.yarr{
    color:red;
}
.meter {
    display: flex;
    overflow: hidden;
    background-color: #e2e8f0;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    height: 4rem;
}
.meter span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #faf089;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.5rem;
    transition: width 2s ease;
}
.flex-2{
    flex: 0 2 auto;
  }